# Configuration file for UCDavis LSST Optical Simulator
# Craig Lage 8-Jan-15
#
# Contains parameters and 'commands' for acquiring data for LSST CCD 
# electro-optical testing. CONSTANTS are represented by all capital 
# lettering. 'commands' are lower case.

# some control words (some used only for development testing)
VERBOSE       TRUE          # Be verbose? TRUE or FALSE 
FAKEOUT       FALSE         # Only pretend data? TRUE or FALSE  
SIZE_SIM      FALSE         # TRUE = make fake files BIG (instead of 0 bytes)
SIMULATE      FALSE         # generate simulated data? (Not implemented yet)
CLOBBER       TRUE          # overwrite existing files? TRUE or FALSE 
LOG_STATS     FALSE         # log file will contain some simple image stats 
FIX_HEADERS   TRUE          # convert the simple FITS headers to LSST standard
NOAO_KWORDS   FALSE         # add/correct the NOAO detector keywords for DM

###############################################################################
# Directory and file locations for UCDavis

# base directory for data, calibration, and log file storage
# data directory will be BASE_DIR/testdata
# log directory will be BASE_DIR/log
# calibration directory will be BASE_DIR/system
BASE_DIR      		/sandbox/lsst/lsst/
EDTSAO_DIR		/usr/local/src/edtsao
EDT_DIR			/opt/EDTpdv
TIM_FILE   		/sandbox/lsst/lsst/e2v/sig/e2v_lage_rev3_22oct18.sigb  # timing file for 'standard' images
#TIM_FILE   		/sandbox/lsst/lsst/e2v/sig/e2v_lage_rev3_75khz_19oct18.sigb  # timing file for 1/4 normal timing images
EXP_NO_FLUSH_FILE    	/sandbox/lsst/lsst/e2v/sig/e2v_nidle.sigb  # No flushing of parallels
EXP_FLUSH_FILE    	/sandbox/lsst/lsst/e2v/sig/e2v_pidle.sigb  # With flushing of parallels
DARK_NO_FLUSH_FILE    	/sandbox/lsst/lsst/e2v/sig/e2v_nidle.sigb  # No flushing of parallels
DARK_FLUSH_FILE    	/sandbox/lsst/lsst/e2v/sig/e2v_pidle.sigb  # With flushing of parallels
PAT_FILE    		/sandbox/lsst/lsst/e2v/pat/e2v.patb    # pattern file for 'standard' images
INIT_FILE   		/opt/EDTpdv/camera_config/saorcx_dual.cfg       # Camera setup file

PURGE_FILE   		/sandbox/lsst/lsst/e2v/sig/e2v_purge.sigb  # All parallels low for purging E2V
UNPURGE_FILE    	/sandbox/lsst/lsst/e2v/sig/e2v_unpurge.sigb  # Undoes the purge
E2V_PURGE_TIME		0 # Time in milliseconds to implement E2V purge
BACKWARDS_FILE   	/sandbox/lsst/lsst/e2v/sig/e2v_backwards.sigb  # Flushing parallels backwards for purging E2V
E2V_BACKWARDS_TIME	0 # Time in milliseconds to implement E2V backwards flush

###############################################################################
# sensor specific information (not yet being used...)
CCD_MANU    E2V        # CCD Manufacturer: E2V, ITL
CCD_TYPE    CCD250      # CCD Model Number; CCD250, STA3800B

###############################################################################
# laboratory specific information for UCDavis
LSST_LAB    UCDavis       # CCD testing laboratory
TSTAND      LSST_Optical_Simulator       # CCD test stand in use
CONTROLL    SAO           # CCD Controller in use: REFLEX, SAO, REB1, etc
CONTNUM     AY0094        # CCD controller number (serial number or other ID)
CCD_SERN    E2V-CCD250-112-09	   # CCD Serial Number
LSST_NUM    E2V-CCD250-112-09	    # LSST Number
INSTRUME    SAO           # Test 'instrument' or FITS header
LAMPTYPE    Labsphere
LAMPMODL    EHLS-100-100R
SRCMODL     6334
MONOTYPE    None
MONOMODL    None
PD_MODEL    SDA-050-P-RTA-CX
PD_SER      AS-02522-301
CTRL_SYS    Python        # RTS2, CCS, ??

###############################################################################
# Operating conditions
TEMP_TEST    -100.0        # temperature for taking test data
TEMP_IDLE    -100.0        # temperature to return to when script complete
TEMP_WAIT      0          # minutes of temp stability prior to starting test
TEMP_RANGE     1.0        # degrees +/- from TESMP_TEST to accept
LAKESHORE_A_TEMP   N/A    # Measured Temperature
LAMP_WATTS   100.0        # lamp power to use
ND_FILTER      2.0        # ND filter installed in filter 5 location
SHUT_DEL     100.0        # Delay between shutter close and readout in msec.
MASK_TYPE    		  # Type of mask
MASK_SERN     N/A         # Mask serial number

###############################################################################
# Voltages 
#
BSS_TEST      -50.0       # BSS voltage for taking test data
BSS_IDLE       0.0        # BSS voltage to return to when script complete(Not used?)
LSS	       0.0	  # Front side ground voltage
VCLK_LO	       0.0	  # Not used
VCLK_HI	       0.0	  # Not used
VV4	       0.0	  # Not used
VDD	       26.0       # Scupper
VRD	       12.6	  # Reset drain
VOD	       24.4	  # Output drain
VOG	       -2.4	  # Output gate
PAR_CLK_LO     -5.9	  # Parallel Clock Low
PAR_CLK_HI     3.5	  # Parallel Clock High
SER_CLK_LO     -4.4	  # Serial Clock Low  
SER_CLK_HI     4.9	  # Serial Clock High 
RG_LO	       -3.5	  # Reset Gate Low
RG_HI	       6.6	  # Reset Gate High

###############################################################################
# Channel Offsets
# These offsets are adjusted for E2V 112-09
OFF_SEG_1     	-13
OFF_SEG_2     	3
OFF_SEG_3     	-13
OFF_SEG_4     	-17
OFF_SEG_5     	 73
OFF_SEG_6     	-1
OFF_SEG_7     	-9
OFF_SEG_8     	-5
OFF_SEG_9     	-48
OFF_SEG_10    	-45
OFF_SEG_11    	-40
OFF_SEG_12    	60
OFF_SEG_13    	-48
OFF_SEG_14    	-35
OFF_SEG_15    	-38
OFF_SEG_16    	-28

#OFF_SEG_1     	200
#OFF_SEG_2     	200
#OFF_SEG_3     	200
#OFF_SEG_4     	200
#OFF_SEG_5     	200
#OFF_SEG_6     	200
#OFF_SEG_7     	200
#OFF_SEG_8     	200
#OFF_SEG_9     	200
#OFF_SEG_10    	200
#OFF_SEG_11    	200
#OFF_SEG_12    	200
#OFF_SEG_13    	200
#OFF_SEG_14    	200
#OFF_SEG_15    	200
#OFF_SEG_16    	200


# Some potentially useful constants
# 
GAIN_MODE LOW             # is useful with SAO controller at Harvard, BNL?
SYS_GAIN   5.0             # approximate system gain, good to 10%
PAR_CLK_DELAY 6	   # This effects the timing of the parallel clocks
	      		   # At 6, the clock pulse widths are about 40 uS
			   # At 8, they are about 160 us - factor of 2 steps.
C  299792458               # in meters per second, in case you need it

###############################################################################
# Image Display
# the images m,ay displayed into a ds9 window as they are acquired. To do so
# set DS9_DISPLAY to TRUE. Default color map and scaling can be set as well.
# Color map options include: 'grey','a','b','bb','he','i8','aips0','heat',
# 'cool', and 'rainbow'. Scaling options include: 'linear','log','power',
# 'sqrt','squared','asinh','histogram','minmax', and 'zscale'.
# 
DS9_DISPLAY   TRUE          # open a ds9 display and throw images at it?
DS9_CMAP      grey  
DS9_SCALE     zscale

###############################################################################
# These parameters control the automatic Dewar Fill

Dewar_is_Cold 1             # 1 = Autofill enabled; 0 = autofill disabled
Temp_to_Fill -198.0 	    # This is the temp to trigger a fill
Min_Fill_Time 90.0          # This is the minimum fill time
Fill_Time_Limit 180.0       # This is the maximum fill time
Overflow_Temp_Limit -20.0   # This is the temp on the overflow monitor that stops the fill

